html {
    box-sizing: border-box;
  }
:root {
    --title-text-color:#757575;
    --heading-text-color:#212121;
    --background-text-color:#2196F3;
    --white-text-color:#FFFFFF;
}
body {
    background-color: var(--white-text-color );
    color: var(--title-text-color );
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1,71;
}
  
a {
    text-decoration: none;  
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
.list {
    padding: 0;
    margin: 0;
}
img { 
    padding: 0;
    margin: 0;
}
.business {
    padding: 0;
    margin: 0;
}
.section-details {
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.details-main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
   justify-content: center:
}
.details-main .test:not(:last-child) {
    margin-right: 30px;
}
.section-job {
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
    
}
.container-head {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.section-team {
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.section-customer {
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.title-footer {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.button-title {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.section-grid {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
    
}
.ddir {
    background-color: #F5F4FA;
}
.logo {
    color: var(--background-text-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.logo2 {
    color: var(--heading-text-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}
.logo3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--white-text-color);    
}
.site-nove {
    display:flex ;
}
.site-nove .item:not(:last-child) {
    margin-right: 50px;
}

.site-nove .link {
    display: block;
    color: var(--heading-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nove .link:hover, 
.site-nove .link:focus
.site-nove .link:active {
    color: var(--background-text-color);
}
.contacts-nav .contacts{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.contacts-nav .contacts:hover,
.contacks-nav .contacts:focus {
    color: var(--background-text-color);
}
.section-effective {
    background: #2F303A;
}
.service {
    font-family: Roboto;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.87;
    font-style: normal; 
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    color: var(--white-text-color);
    background: var(--background-text-color);
}
.section-title {
    margin-bottom: 50px;
    margin-top: 0;
    color: var(--heading-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.job {
    margin: 0;
    padding: 27px 82px 27px 82px;;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    background: rgba(47, 48, 58, 0.8)
    
}
.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 0;
}
.footer-title {
    background: #2F303A;
}
.white {
    color: var(--white-text-color);
}
.primary {
    color: var(--white-text-color);
    background: var(--background-text-color);
}

.social-networks {
    color: var(--white-text-color);
}
.social-networks:hover {
    color: var(--background-text-color);
}
.button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
}
.button:focus,
.button:hover {
    color: var(--white-text-color);
    background: var(--background-text-color);
}
.business {
    width: 695px;
    height: 120px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    
}
.title {
    color: var(--heading-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-text-color);
}
.position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.description {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    background: var(--background-text-color);
}
.section-portfolio {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--heading-text-color);
}
.name {
    line-height: 30px;
    font-size: 16px;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}
.contacts-nav {
    display: flex;
    margin-left: auto;
}
.contacts-nav .item + .item {
    margin-left: 50px;
}
.item {
    padding-top: 32px;
    padding-bottom: 32px;
}
.mainn {
    display: flex;
    align-items: center;  
}

.to-us {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);    
}
.city {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}
.site-nove .link.current {
    color: var(--background-text-color);
}
.contacts.footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.developed {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}

.logo-main {
    margin-right: 85px;
}
.section-effective {
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
.test .title {
    margin: 0;
   
}
.advantages-img {
    display: block;
    margin-bottom: 30px;

    border-radius: 4px;
    text-align: center;
    background-color: #F5F4FA;
}
.job-title {
    display: flex;
    padding: 0;
    margin: 0;

}
.job-title .job-list:not(:last-child) {
    margin-right: 30px;
    
}
.team-title {
    display: flex;
    margin: 0;
    padding: 0;
}
.img-people:not(:last-child) {
    padding-right: 30px;
}
.section-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.customer-img {
    display: block;
    text-align: center;
    padding-right: 25px;
}
.customer-img:not(:last-child) {
    padding-right: 30px;
}
.conta .contacts:hover,
.conta .contacts:focus {
    color: var(--background-text-color);
}
.conta .contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}    
.soc {
    display: flex;
}
.soc-li {
    margin-right: 10px;
}
.title-footer {
    display: flex;
    margin-top: 57px;
    padding-top: 45px;
    
}
.footer-to {
    padding-left: 69px;
    padding-right: 60px;
    align-items: center;
    justify-content: space-around;
}
.list-button {
    margin-right: 30px;
    width: 50%;
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.feature-etem {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.feature-etem:nth-child(3n) {
    margin-right: 0;

}
.test-cont {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.feature-etem p {
    margin-bottom: 32px;
}
.section-team .section-title {
    padding-top: 94px;
}